.header {
  padding-top: 1.2rem;
}

.followButton {
  right: 0rem;
}

.headerAndFollowBtn {
  max-width: 600px;
  width: 100%;
}

.tabs {
  min-width: 600px;
}

@media only screen and (max-width: 600px) {
  .header {
    padding-top: 0;
  }

  .followButton {
    position: absolute;
    top: -4rem;
    right: 0.6rem;
  }

  .headerAndFollowBtn {
    width: 100%;
  }

  .tabs {
    min-width: 300px;
  }
}
