html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100vw;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

.Fredoka {
  font-family: "Fredoka One", sans-serif;
}

.Poppins {
  font-family: "Poppins", sans-serif;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.spinnerIcon {
  animation: spinnericon 0.7s linear infinite;
}

@keyframes spinnericon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
