html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.Fredoka {
  font-family: "Fredoka One", sans-serif;
}

.Poppins {
  font-family: "Poppins", sans-serif;
}

.feed::-webkit-scrollbar {
  display: none;
}

.signup_form::-webkit-scrollbar {
  display: none;
}
